#zuragGandan{
    width: 40px;
    height: 40px;
    border: solid 3px red;
}
#zuragTheater{
    width: 40px;
    height: 40px;
    border: solid 3px red;

}
#zuragMuseum{
    width: 40px;
    height: 40px;
    border: solid 3px red;

}